body {
    color: #003366;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;    
}

.sacola {
    position: absolute;
    top: 0;
    right: 0;
    background-image: url(../img/sacola.png);
    background-repeat: no-repeat;
    background-position: top right;

    font-size: 14px;
    padding-right: 35px;
    text-align: right;
    width: 140px;

    padding-top: 8px;
}

.menu-opcoes ul{
    font-size: 15px;

}

.menu-opcoes a {
    color: #003366;
}

.menu-opcoes ul li {
    display: inline;
    margin-left: 20px;
}

.container {
    margin: 0 auto;
    width: 940px;
}

header {
    position: relative;
}

.menu-opcoes {
    position: absolute;
    bottom: 0;
    right: 0;
}

/** Destaques' style */
.busca,
.menu-departamentos {
    background-color: #DCDCDC;
    font-weight: bold;
    text-transform: uppercase;

    margin-right: 10px;
    width: 230px;
}

.busca h2,
.busca form,
.menu-departamentos h2 {
    margin: 10px;
}

.menu-departamentos li {
    background-color: #fff;
    margin-bottom: 1px;
    padding: 5px 10px;
}

.menu-departamentos a {
    text-decoration: none;
    color: #333;
}

.busca input[type=search] {
    width: 170px;
    border-radius: 50px;
}
.busca button {
    margin-top: 3px;
    background: none;
    border: 1px rgba(92, 92, 92, 0.733) solid;
    border-radius: 50px;
}

.busca,
.menu-departamentos {
    float: left;
}

.menu-departamentos {
    clear: left;

    margin-top: 10px;
    padding-bottom:10px;
}

.destaques {
    margin-top: 10px;
}