body {
    margin-left: auto;
    margin-right: auto;
    color: #333;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.container {
    margin: 0 auto;
    width: 940px;
}

.main-article {
    padding-top: 5px;
}
.main-article > h1 {
    background-image: url(../img/sobre-background.jpg);
    padding: 10px;
}

.main-article li {
    margin: 0 0 2px 45px;
    list-style: disc;
}

h2 {
    border-bottom: 2px solid #333;
    margin-top: 30px;
}

p {
    padding: 0 45px;
    text-align: 15px;
    padding-top: 15px;
    text-indent: 20px;
}

h1 + p {
    text-indent: 0;
}
p::first-letter {
    font-weight: bold;
}

:not(p) + p::first-line {
    font-variant: small-caps;
}

figure {
    padding: 15px;
    margin:30px;
    background-color: #F2EDED;
    border: 1px solid #ccc;
    text-align: center;
}

figcaption {
    margin-top: 10px;
    font-style: italic;
}

#centro-de-distribuicao {
    margin-left: auto;
    margin-right: auto;
    width: 550px;
}

#familia-pelho {
    float: right;
    margin: 0 0 10px 10px;
}

